header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

/* Resetting styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', Arial, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Adjust the widths as needed */
}

/* Your existing styles */
nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

h1 {
  color: steelblue;
  border-bottom: 2px solid #000;
  padding-bottom: 0.5rem;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
  grid-row: 1; /* Add grid-row property for the aside */
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

/* Class Selectors section */
.box {
  margin: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #ddd;
}

/* Footer styles */
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}
